.idea/*

# Maven build output
target/


# Terraform state files
*.tfstate
*.tfstate.*
terraform/.terraform
terraform/.*


# Crash log files
crash.log

# Exclude override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude variable files with sensitive data
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
